<?xml version="1.0" ?>

<robot name="vp6242gripper" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- include xacro file containing a link where you want to attach the manipulator -->
    <xacro:include filename="$(find vp6242_description)/urdf/vp6242_macro.xacro"/>
    <xacro:vp6242 prefix=""/>

    <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
    <xacro:robotiq_85_gripper prefix="" parent="tool0" >
        <origin xyz="0 0 0.0" rpy="0 -1.57 0"/>
    </xacro:robotiq_85_gripper>

</robot>
