<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find vp6242_robotiq85_gazebo)/config/vp6242_robotiq85.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="vp6242_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/vp6242" args="--namespace=/vp6242
            joint_state_controller
					  joint1_position_controller
					  joint2_position_controller
            joint3_position_controller
            joint4_position_controller
            joint5_position_controller
            joint6_position_controller
            gripper_position_controller"/>

</launch>
